<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->

    <link rel="icon" type="image/png" sizes="32x32" href="./assets/img/favicon-32x32.png">

    <!-- All of the two lines just below were verbatim pasted from fonts.google.com. Remember how this works re: font weights, etc. -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="./assets/css/style.css"> <!--always put this line after fonts because of how things load-->
    <!-- "./" means "from right here". "../" means "go up a level". And, from a site:
      Here is all you need to know about relative file paths:
        Starting with “/” returns to the root directory and starts there
        Starting with “../” moves one directory backwards and starts there
        Starting with “../../” moves two directories backwards and starts there (and so on…)
        To move forward, just start with the first subdirectory and keep moving forward -->
    
    <title>Frontend Mentor | Job Listings</title>
  </head>

<!--
1) what prompts the appearance of the filter? Maybe going to a particular job posting and then clicking on one of this job posting's "Frontend"/"Senior"/"HTML"/"CSS"/"JavaScript" buttons?
  - Correct. On page load, there's no filter section. As soon as a user clicks on one of the technology 'pills' a.k.a. 'tags', the filter section will appear, showing that selected tag.
2) what items/descriptors are included in the filter upon its initial appearance?  Maybe with ALL POSSIBLE descriptors ("Frontend" and "Senior" and "JavaScript" and "CSS" and "HTML" and "Junior" and "React", and so on)?
  - By the time the filter section appears, it will include one 'tag', the one the user just clicked to begin filtering.
3) what exactly is the filter doing? Is it presenting only the job postings with the descriptors (e.g., "Frontend" or "Senior" or "JavaScript") present in the filter?
  - Correct. It is keeping track of the selected tags, and only presenting jobs with all of those tags, among any others that job may feature
-->

  <body>
    
    <div id="app">

      <header v-if="filters.length">
        <section class="is-hidden" id="filter">
          <button id="clear-filter">Clear</button>
          <ul>
            <li v-for="filter in filters">
              <button>{{ filter }}</button>
            </li>
          </ul>
        </section>
      </header>

      <main>
        <ul id="job-listings">
          <li class="job-listing" v-for="dataArrObj in dataArr" :key="dataArrObj.id"> <!-- whenever doing a 'v-for', ':key' (short for 'v-bind:key') is needed to uniquely identify each one -->
            <img :src="dataArrObj.logo" alt=""> <!-- v-bind (a directive) is the syntax for hooking into the attr of a html element  -->
            <p>
              <span class="company-name">{{ dataArrObj.company }}</span>
              <span class="bubble-new" v-if="dataArrObj.new == true">New!</span>
              <span class="bubble-featured" v-if="dataArrObj.featured == true">Featured</span>
            </p>
            <h1 class="job-title">
              <a href="#" target="_blank">{{ dataArrObj.position }}</a>
            </h1>
            <ul class="three-details">
              <li>{{ dataArrObj.postedAt }}</li>
              <li>{{ dataArrObj.contract }}</li>
              <li>{{ dataArrObj.location }}</li>
            </ul>
            <ul class="tags">
              <li><button @click="blah(dataArrObj.role)" class="tag">{{ dataArrObj.role }}</button></li> <!-- '@click' is short for 'v-on:click' -->
              <li><button @click="blah(dataArrObj.level)" class="tag">{{ dataArrObj.level }}</button></li>
              <li v-for="language in dataArrObj.languages" :key="language" v-if="dataArrObj.languages.length">
                <button @click="blah(language)" class="tag">{{ language }}</button>
              </li> <!-- 'dataArrObj.languages.length' is enough because if it evaluates to '0' it will evaluate to 'false' because '0' is 'falsy', etc. -->
              <li v-for="tool in dataArrObj.tools" :key="tool" v-if="dataArrObj.languages.length">
                <button @click="blah(tool)" class="tag">{{ tool }}</button>
              </li>
            </ul>
          </li>
        </ul>
      </main>
          
      <footer>
        <p class="attribution">
          Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
          Coded by <a href="#">Ben</a>.
        </p>
      </footer>

    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="./assets/js/app.js"></script>
  </body>
</html>